{% extends 'base.html.twig' %} {% block body %}
<h1 class="text-3x1 font-bold nav-underline text-bg-danger">
    WikiCoaster
    <div class="badge badge-soft badge-accent">BUT2 Info TP2</div>
</h1>
{% endblock %}
