{% extends "base.html.twig" %} {% block body %}
{{ form_start(coasterForm) }}
{{ form_widget(coasterForm) }}
{# Bouton HTML submit #}
<button type="submit" class="btn btn-primary">Envoyer</button>
{{ form_end(coasterForm) }}

{% endblock %}
